*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}





body{
    background-color: #2d2d33;
}

header{

    display: flex;
    justify-content: space-between;
}

.logo{
    
    
    width: 13rem;
    height: 4rem;
    background-color: red;
    margin-left: .5rem;
    background-image: url(images/marca.jpg);
    background-size: cover;
    background-position: center;

}


.menu-principal{
    background-color: #052941   ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;

}


.menu-principal ul{
    display: flex;
}

.menu-principal ul li{
    display: flex;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    
}

.menu-principal ul li a{

    text-decoration: none;
    list-style: none;
    color: #fff;
}

.menu-principal ul li a:hover{

    background-color: gray;

}

.barra-busqueda{

    margin-top: 2rem;
    margin-right: 2rem;
}


header, footer, section{
    width: 100%;
   
}





header{
    height: 10vh ;
    background-color:#052941;
 }


 .carrusel{
    width: 100%;
    display: flex;
    justify-content: center;

 }
    

 .contenedor-carrusel{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    width: 100%;
        
 }

 section div{

    display: flex;
    margin-left: 20rem;
 }

 .publicidad_principal  {
    flex: 1 0 auto;
    margin: 0 .1rem;
    background-color: gray;
    width: 60vw;
    height: 50vh   ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/anuncio.jpeg);
    
 }



 .publicidad_principal2{
    flex: 1 0 auto;
    margin: 0 .1rem;
    background-color: gray;
    width: 60vw;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/anunciocorsair.jpeg);
    
 }

 .publicidad_principal3{
    flex: 1 0 auto;
    margin: 0 .1rem;
    background-color: gray;
    width: 60vw;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/nvidiabanner.jpg);
    
 }

footer{
    width: 100%;
    margin-top: 123vh;
    height: 30rem ;
    background-color: #052941;
    display: flex;
    justify-content:space-between;
    overflow: hidden;
    
}

footer div{

    margin: 0;
}

.contenedor-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;

    
}


.mapa{

    margin-top: 3rem;
    margin-right: 4rem;
    width:20rem;
    height:20rem;
    
}

.newsletter{
    margin-top: 2rem;
    color: #fff;
}

.barra-newsletter{
  
  margin-top: 2rem;
  margin-right: 2rem;
    
}




 

